.NewItemInput {
  border-radius: var(--border-radius-3px);
  border: none;
  box-shadow: var(--shadow) 0px 1px 0px 0px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  outline: none;
}

.NewItemInput:focus {
  border: 2px solid var(--primary-colour);
}
