.Card {
  background-color: var(--white);
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  max-width: var(--card-width);
  border-radius: 3px;
  box-shadow: var(--shadow) 0px 1px 0px 0px;
  font-size: 1.4rem;
}
