:root {
  --primary-colour: #3179ba;
  --secondary-colour: #ebecf0;
  --create-button-colour: #5aac44;
  --white: #fff;
  --dark: #000;
  --slight-white-1: #ffffff3d;
  --slight-white-2: #ffffff52;
  --shadow: #091e4240;
  --border-radius-3px: 3px;
  --card-width: 300px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto';
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

.DarkColour {
  color: var(--dark);
}

.LightColour {
  color: var(--white);
}

.rotate {
  transform: rotate(5deg);
}
